<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.yourhead.stacks.paths</string>
	<key>title</key>
	<string>Paths</string>
	<key>subtitle</key>
	<string>A test of all the Stacks API paths</string>
	<key>templates</key>
	<array>
		<dict>
			<key>type</key>
			<string>html</string>
			<key>filename</key>
			<string>each.html</string>
		</dict>
		<dict>
			<key>type</key>
			<string>css</string>
			<key>filename</key>
			<string>dummy.css</string>
		</dict>
		<dict>
			<key>type</key>
			<string>js</string>
			<key>filename</key>
			<string>dummy.js</string>
		</dict>
		<dict>
			<key>type</key>
			<string>php</string>
			<key>filename</key>
			<string>dummy.php</string>
		</dict>
	</array>
	<key>icon</key>
	<string>icon</string>
	<key>tags</key>
	<array>
		<string>Test</string>
		<string>API</string>
	</array>
	<key>libraries</key>
	<array>
		<dict>
			<key>name</key>
			<string>jQuery</string>
		</dict>
	</array>
	<key>assets</key>
	<array>
		<dict>
			<key>filename</key>
			<string>asset.css</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>siteAsset.css</string>
			<key>siteAsset</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
