<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>File References</key>
				<dict>
					<key>App Scope</key>
					<false/>
					<key>File References</key>
					<array>
						<dict>
							<key>fullPath</key>
							<string>i&lt;3rw.jpg</string>
							<key>identifier</key>
							<string>96630EB8-B374-4C2C-819E-361E8057BF47</string>
							<key>isInternal</key>
							<true/>
						</dict>
						<dict>
							<key>fullPath</key>
							<string>flower.jpg</string>
							<key>identifier</key>
							<string>DB49ACF4-A02B-4AFD-9523-198478B11EFA</string>
							<key>isInternal</key>
							<true/>
						</dict>
						<dict>
							<key>fullPath</key>
							<string>flower.jpg</string>
							<key>identifier</key>
							<string>EE5FD0B2-E856-4725-A74B-D0A4AA26B827</string>
							<key>isInternal</key>
							<true/>
						</dict>
						<dict>
							<key>fullPath</key>
							<string>rwAsset.css</string>
							<key>identifier</key>
							<string>13E6AEF8-0A6D-4E14-81F3-D694577B6782</string>
							<key>isInternal</key>
							<true/>
						</dict>
					</array>
				</dict>
				<key>Minimum Application Version</key>
				<string>8.0</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page1 - file:///Users/iac/Desktop/Publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-08-16T06:56:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Abofnm+4WRMW
								sjk1/1TpkA==
								</data>
								<key>Size</key>
								<integer>5269</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page2 - file:///Users/iac/Desktop/Publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-08-16T06:56:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-2ea14e4-284x284.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ii62t8cBN1/S
								33Gkx77Hxg==
								</data>
								<key>Size</key>
								<integer>28942</integer>
							</dict>
							<key>files/stacks_page_page2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								VIWJBM25VGRn
								di1K2hw+bQ==
								</data>
								<key>Size</key>
								<integer>560</integer>
							</dict>
							<key>files/stacks_page_page2.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BFe3kVVnz8qA
								knYjUOCGJA==
								</data>
								<key>Size</key>
								<integer>6774</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page9 - file:///Users/iac/Desktop/Publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-08-16T06:56:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								7WROYXBsombS
								IyiSqF3D6Q==
								</data>
								<key>Size</key>
								<integer>5285</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page9</string>
						<key>SiteRoot</key>
						<string>styled</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/iac/Desktop/Publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-08-16T06:56:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								WKfkInexD2ES
								5HgKxs3jGQ==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								TAjE3fk9fhKF
								v5BAGOBlzw==
								</data>
								<key>Size</key>
								<integer>299</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:resources - file:///Users/iac/Desktop/Publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-08-16T06:56:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>i&lt;3rw.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								/kcT5TklH0BC
								ZG6ab/rlgQ==
								</data>
								<key>Size</key>
								<integer>70350</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/iac/Desktop/Publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-08-16T06:56:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/0a1hJaS6DeQ
								tOXvwd14ng==
								</data>
								<key>Size</key>
								<integer>1707</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:reason - file:///Users/iac/Desktop/Publish/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-08-16T06:56:18Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated-2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								T449CxkjWuRl
								n7KEFBlZSw==
								</data>
								<key>Size</key>
								<integer>27166</integer>
							</dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								JHPaYLSrVaYP
								Zo/wMgMEuQ==
								</data>
								<key>Size</key>
								<integer>27166</integer>
							</dict>
							<key>function.js</key>
							<dict>
								<key>Digest</key>
								<data>
								kTQn15ZP0ZXL
								aQtoiUCkNA==
								</data>
								<key>Size</key>
								<integer>1130</integer>
							</dict>
							<key>ie.js</key>
							<dict>
								<key>Digest</key>
								<data>
								JnCWsc5WHRlI
								GEE5ySoCyg==
								</data>
								<key>Size</key>
								<integer>2355</integer>
							</dict>
							<key>images/denim.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fOMOWaf6Z0tP
								8tu7l5MJvQ==
								</data>
								<key>Size</key>
								<integer>7701</integer>
							</dict>
							<key>images/editable_images/img1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tvcX9sY5TfWq
								Ph8rNsLCcg==
								</data>
								<key>Size</key>
								<integer>56711</integer>
							</dict>
							<key>images/editable_images/img2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SRqUH6wAWRqP
								RBSh2OlpsQ==
								</data>
								<key>Size</key>
								<integer>220270</integer>
							</dict>
							<key>images/editable_images/img3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YR2kc9S1aYqG
								O+uoEHhGbA==
								</data>
								<key>Size</key>
								<integer>264723</integer>
							</dict>
							<key>images/editable_images/img4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								v5ndE2ZsSlA9
								c/awrdR1Rw==
								</data>
								<key>Size</key>
								<integer>46824</integer>
							</dict>
							<key>images/editable_images/img5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RJWYCP9j6NuG
								xAMaTMus6w==
								</data>
								<key>Size</key>
								<integer>49916</integer>
							</dict>
							<key>images/linen.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Pu3jzRQPNRPK
								EMUd1z8kMg==
								</data>
								<key>Size</key>
								<integer>27565</integer>
							</dict>
							<key>images/paper.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Rpw4fnNjZxDI
								dByu1HcnVw==
								</data>
								<key>Size</key>
								<integer>117521</integer>
							</dict>
							<key>images/wood.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								wkAKXBxaf8Fj
								OH9SljW0gQ==
								</data>
								<key>Size</key>
								<integer>43160</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
							<key>jquery-1.8.3.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								CvJFlT9aOSmR
								f0fS+00KsA==
								</data>
								<key>Size</key>
								<integer>112323</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:reason</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/reason</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGb3BYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QGgcIERIaHSQp
				PD0+P0NGSk5PU15fYGFkaGltVSRudWxs0wkKCwwOEFdO
				Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoQ2AAqEPgAOA
				GVRub2Rl1BMUFQsWFxgZVE5hbWVVaXRlbXNYY2hpbGRy
				ZW6AAIAGgASAGNIKCxscoIAF0h4fICFaJGNsYXNzbmFt
				ZVgkY2xhc3Nlc15OU011dGFibGVBcnJheaMgIiNXTlNB
				cnJheVhOU09iamVjdNIKCyUcoiYngAeAEYAF2iorCywt
				LhMvMDEyMzQWFjc4OTo7XlJlbW90ZVJlc291cmNlW09y
				aWdpbmFsVVJMXFB1Ymxpc2hlZFVSTF1QdWJsaXNoZWRE
				YXRlXxAPQ2hhbmdlZFN0YXR1c2VzWklkZW50aWZpZXJZ
				VGltZVN0YW1wWUZpbGVUb2tlbgiAD4AQgACAAIANgAmA
				CIALgApfECRCRkQ5MDZCQS03OERBLTQ2OEQtQkY0Ni01
				ODA4MDkxOUIyRjFaZmxvd2VyLmpwZ18QJEVFNUZEMEIy
				LUU4NTYtNDcyNS1BNzRCLUQwQTRBQTI2QjgyN9JAC0FC
				V05TLnRpbWUjQcCBOwAhewOADNIeH0RFVk5TRGF0ZaJE
				I9MJCgtHSEmgoIAO0h4fS0xfEBNOU011dGFibGVEaWN0
				aW9uYXJ5o0tNI1xOU0RpY3Rpb25hcnlfECQvVXNlcnMv
				aWFjL0Ryb3Bib3gvSW1hZ2VzL2Zsb3dlci5qcGfSHh9Q
				UV5SV1NpdGVSZXNvdXJjZaJSI15SV1NpdGVSZXNvdXJj
				ZdoqKwssLS4TLzAxMlU0FhZZWltcXQiAF4AQgACAAIAW
				gBOAEoAVgBRfECRCMkYwQjYwMS01REQ0LTRDRTYtQjRD
				RC0wREYzOUU0MTQ2M0ZbcndBc3NldC5jc3NfECQxM0U2
				QUVGOC0wQTZELTRFMTQtODFGMy1ENjk0NTc3QjY3ODLS
				QAtiQiNBwKr22nVdI4AM0wkKC2VmSaCggA5fEB4vVXNl
				cnMvaWFjL0Rlc2t0b3AvcndBc3NldC5jc3PSHh9qa1xS
				V1NpdGVGb2xkZXKibCNcUldTaXRlRm9sZGVy0h4fTW6i
				TSNfEA9OU0tleWVkQXJjaGl2ZXLRcXJUcm9vdIABAAgA
				EQAaACMALQAyADcAVABaAGEAaQB0AHsAfQB/AIEAgwCF
				AIoAkwCYAJ4ApwCpAKsArQCvALQAtQC3ALwAxwDQAN8A
				4wDrAPQA+QD8AP4BAAECARcBJgEyAT8BTQFfAWoBdAF+
				AX8BgQGDAYUBhwGJAYsBjQGPAZEBuAHDAeoB7wH3AgAC
				AgIHAg4CEQIYAhkCGgIcAiECNwI7AkgCbwJ0AoMChgKV
				AqoCqwKtAq8CsQKzArUCtwK5ArsCvQLkAvADFwMcAyUD
				JwMuAy8DMAMyA1MDWANlA2gDdQN6A30DjwOSA5cAAAAA
				AAACAQAAAAAAAABzAAAAAAAAAAAAAAAAAAADmQ==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>http://yourhead.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>YourHead Software ©   2018</string>
					<key>CopyrightTextUsed</key>
					<false/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>isaiah@mac.com</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGPT5YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oK0HCA8QGhscJCoyMzY5VSRudWxs0wkKCwwN
					DlhOU1N0cmluZ1YkY2xhc3NcTlNBdHRyaWJ1
					dGVzgAKADIADXxAxV2UgdXNlIGNvb2tpZXMg
					b25seSBmb3Igc2ltcGxlIGFuYWx5dGljcyBw
					dXJwb3Nlc9MREgoTFhlXTlMua2V5c1pOUy5v
					YmplY3RzohQVgASABaIXGIAGgAiAC18QEE5T
					UGFyYWdyYXBoU3R5bGVWTlNGb2501B0eHwog
					ISIjWk5TVGFiU3RvcHNbTlNBbGlnbm1lbnRf
					EB9OU0FsbG93c1RpZ2h0ZW5pbmdGb3JUcnVu
					Y2F0aW9ugAAQBBABgAfSJSYnKFokY2xhc3Nu
					YW1lWCRjbGFzc2VzXxAQTlNQYXJhZ3JhcGhT
					dHlsZaInKVhOU09iamVjdNQrLC0KLi8wMVZO
					U1NpemVYTlNmRmxhZ3NWTlNOYW1lI0AqAAAA
					AAAAEQQQgAmACl8QEi5BcHBsZVN5c3RlbVVJ
					Rm9udNIlJjQ1Vk5TRm9udKI0KdIlJjc4XE5T
					RGljdGlvbmFyeaI3KdIlJjo7XxASTlNBdHRy
					aWJ1dGVkU3RyaW5nojwpXxASTlNBdHRyaWJ1
					dGVkU3RyaW5nXxAPTlNLZXllZEFyY2hpdmVy
					0T9AVHJvb3SAAQAIABEAGgAjAC0AMgA3AEUA
					SwBSAFsAYgBvAHEAcwB1AKkAsAC4AMMAxgDI
					AMoAzQDPANEA0wDmAO0A9gEBAQ0BLwExATMB
					NQE3ATwBRwFQAWMBZgFvAXgBfwGIAY8BmAGb
					AZ0BnwG0AbkBwAHDAcgB1QHYAd0B8gH1AgoC
					HAIfAiQAAAAAAAACAQAAAAAAAABBAAAAAAAA
					AAAAAAAAAAACJg==
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va6gCAAAAAAQQMAAA
							APf9uUpvn/pJGhLdYqA3
							/qws29XM3Cbt+2/m5ewx
							jaxqpAEAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAADAAAAAQEAAGlh
							YwAHAAAAAQEAAERlc2t0
							b3AABwAAAAEBAABQdWJs
							aXNoABAAAAABBgAAEAAA
							ACAAAAAsAAAAPAAAAAgA
							AAAEAwAAcgAAAAAAAAAI
							AAAABAMAAJHyFwAAAAAA
							CAAAAAQDAAAMIRgAAAAA
							AAgAAAAEAwAAYw8ZAAAA
							AAAQAAAAAQYAAGQAAAB0
							AAAAhAAAAJQAAAAIAAAA
							AAQAAEG9y+YCAAAAGAAA
							AAECAAACAAAAAAAAAA8A
							AAAAAAAAAAAAAAAAAAAI
							AAAABAMAAAIAAAAAAAAA
							BAAAAAMDAAD1AQAACAAA
							AAEJAABmaWxlOi8vLwMA
							AAABAQAAUmV5AAgAAAAE
							AwAAAMBa1OgAAAAIAAAA
							AAQAAEHAfwFFgAAAJAAA
							AAEBAABGQjI2M0MxQS04
							MTU2LTRDQzQtQUFFNS1D
							RkY2RDlCNUE4MzYYAAAA
							AQIAAIEAAAABAAAA7xMA
							AAEAAAAAAAAAAAAAAAEA
							AAABAQAALwAAAAAAAAAB
							BQAAzAAAAP7///8BAAAA
							AAAAABAAAAAEEAAATAAA
							AAAAAAAFEAAApAAAAAAA
							AAAQEAAAzAAAAAAAAABA
							EAAAvAAAAAAAAAACIAAA
							kAEAAAAAAAAFIAAACAEA
							AAAAAAAQIAAAGAEAAAAA
							AAARIAAARAEAAAAAAAAS
							IAAAJAEAAAAAAAATIAAA
							NAEAAAAAAAAgIAAAcAEA
							AAAAAAAwIAAAnAEAAAAA
							AAABwAAA7AAAAAAAAAAR
							wAAAIAAAAAAAAAASwAAA
							/AAAAAAAAAAQ0AAABAAA
							AAAAAAA=
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>Untitled Destination</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<true/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Alpha</string>
					<key>TitleText</key>
					<string>My Great Site</string>
					<key>TitleTextUsed</key>
					<false/>
					<key>UniqueBackupName</key>
					<string>053A0C9F-D8ED-4858-ADF1-C5ADD242218F_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalHeader</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<true/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>twitterAccount</key>
					<string>isaiah</string>
					<key>useCacheBusting</key>
					<false/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<false/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
